<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine-html.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/boot.min.js"></script>
    	<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
    	<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular-mocks.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-messages.js"></script>
	</head>

	<body></body>

	<script src="awCalculatorController.js"></script>

	<script type="text/javascript">

	    beforeEach(angular.mock.module('calculatorApp'));
		var $controller;
		beforeEach(angular.mock.inject(function(_$controller_){
		  $controller = _$controller_;
		}));


		describe('calculator', function () {
		
			it('3*4 = 12 then Clear gives 0', function () {
				var $scope = {};
				var controller = $controller('calculatorController', { $scope: $scope });
	 
				$scope.numberClick("3");
				$scope.operationClick("*");
				$scope.numberClick("4");
				$scope.operationClick("=");
				console.log("result " + $scope.calculator.result);
				expect($scope.calculator.currentDisplay).toBe("3 * 4");
				expect($scope.calculator.result).toBe(12);
				$scope.resetClicked();
				expect($scope.calculator.result).toBe(0);		
			});

			it('7/2 = 3.5', function () {
				var $scope = {};
				var controller = $controller('calculatorController', { $scope: $scope });
	 
				$scope.numberClick("7");
				$scope.operationClick("/");
				$scope.numberClick("2");
				$scope.operationClick("=");
				expect($scope.calculator.currentDisplay).toBe("7 / 2");
				expect($scope.calculator.result).toBe(3.5);
			});

			// TODO Test +, -, ., X, 0,  floats, edge cases (big, small, n/0, ...)
		});

	</script>
</html>