<!DOCTYPE html>
<html>
	<head>
		<title>eCalculator App</title>
		<link rel="stylesheet" href="resources/css/app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="components/controllers/awCalculatorController.js"></script>	
	</head>

	<body ng-app="calculatorApp">
		<!-- The only View -->
	  	<div ng-controller="calculatorController">

		  <h2>Andrew Williams' Calculator</h2>
		  <br/>

		  <!-- Input -->
		  <table>   
			  	<tr><td ng-repeat="n in [1,2,3]"><button ng-click='numberClick(n)'>{{n}}</button></td></tr>
			   	<tr><td ng-repeat="n in [4,5,6]"><button ng-click='numberClick(n)'>{{n}}</button></td></tr>
			   	<tr><td ng-repeat="n in [7,8,9]"><button ng-click='numberClick(n)'>{{n}}</button></td></tr>
			    <tr><td ng-repeat="n in [0,'.','X']"><button ng-click='numberClick(n)'>{{n}}</button></td></tr>
		  </table>
		  <br/>

		  <table>
		    	<tr><td ng-repeat="op in ['+','-','*','/','=']"><button ng-click='operationClick(op)'>{{op}}</button></td></tr>
		  </table>
		  <br/>

		  <!-- Output -->
		  <table><th> Output </th>
		    	<tr><td><div >{{ calculator.currentDisplay }}</div></td></tr>
		    	<tr><td><div >{{ calculator.result }}</div></td></tr>
		    	<tr><td><div ng-click="resetClicked()" >CLEAR</div></td></tr>
		  </table>
		  <br/>

		</div>

		<h6> Contact Andrew on 0418 134 171 to offer him a job. </h6>
		
	</body>

</html>
